{% extends "../index.html" %}
{% load static %}
{% block title %}
    修改密码
{% endblock title%}
{% block css %}
    <style>
        .error-message
        {
            color: red;
        }
    </style>
{% endblock css %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <h3>修改用户密码</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'oa_core:update_overtime_task' %}" method="post" id="update_form">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" id="user_id" value="{{ request.session.user.id }}">
                    <div class="form-group">
                        <label for="original_password">原始密码</label>
                        <input type="password" class="form-control" id="original_password" name="original_password"/>
                        <span class="error-message" name="original_password"></span>
                    </div>
                    <div class="form-group">
                        <label for="new_password">新密码</label>
                        <input type="password" class="form-control" id="new_password" name="new_password"/>
                        <span class="error-message" name="new_password"></span>
                    </div>
                    <div class="form-group">
                        <label for="new_password2">重复新密码</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2"/>
                        <span class="error-message" name="new_password2"></span>
                    </div>
                    <button type="submit" class="btn btn-success" onclick="SubmitForm()">更新</button>
                </form>
            </div>
        </div>
    </div>
{%endblock content%}

{% block js %}
    <script>

        //表单里的button都不是submit了，点击了还有默认行为。。只能取消，然后采用ajax同步(此时页面也就只有ajax可以发送请求，同异步都行)
        var myform = document.getElementById('update_form');
        myform.onsubmit = function () {
            return false
        };

        //login Ajax logic
        function SubmitForm(){
            var form = new FormData(document.getElementById("update_form"));
            {#alert(form)#}
            $.ajax({
                async: false,
                url: '{% url 'oa_core:user_password_update' %}',
                type: 'POST',
                data: form,
                processData:false,
                contentType:false,
                dataType: 'json',
                success: function(callback){
                   if(callback.status){
                        location.href = '{% url "oa_core:user_center" %}';
                   }else{
                       $('span[name="original_password"]').text('');
                       $('span[name="new_password"]').text('');
                       $('span[name="new_password2"]').text('');
                       $.each(callback.message, function (k,v) {
                           $('span[name="' + k + '"]').text(v);
                       })
                   }
                }
            })
        }
    </script>
{% endblock js %}