{% extends "../index.html" %}
{% load static %}
{% block title %}
    新建请假单
{% endblock title%}

{% block content %}
    <div class="container" style="margin-top: 70px">
        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <h3>请假单内容</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'oa_core:add_holiday_task' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="ht_type">类型</label>
                        <select class="form-control" name="ht_type">
                            <option value="0">事假</option>
                            <option value="1">病假</option>
                            <option value="2">婚假</option>
                            <option value="3">产假</option>
                            <option value="4">年假</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date_range">日期范围</label>
                        <div class="layui-container">
                            <div class="layui-row">
                                <div class="layui-col-xs10 layui-col-sm6 layui-col-md4">
                                    <input type="text" class="form-control" id="date_range" name="date_range">
                                </div>
                            </div>
                        </div>

                        <span style="color: red">{{ errors.date_range }}</span>
                    </div>
                    <div class="form-group">
                        <label for="comment">备注</label>
                        <textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
                        <span style="color: red">{{ errors.comment }}</span>
                    </div>
                    <div class="form-group">
                        <label for="dept_name">部门名称</label>
                        <input class="form-control" name="dept_name" id="dept_name" readonly value="{{ initial.dept_name }}"/>
                    </div>
                      <button type="submit" class="btn btn-danger">创建</button>
                </form>
            </div>
        </div>
    </div>
{%endblock content%}

{% block js %}
    <script src="{% static 'oa_core/layDate-v5.0.9/laydate/laydate.js' %}"></script>
    <script>
        //日期范围
        laydate.render({
            elem: '#date_range'
            ,range: true
            ,theme: '#393D49'
        });
    </script>
{% endblock js %}